<h1>Player Ranking</h1>

<div class="row">
  <div class="span12">
    <%= render partial: "shared/player_ranking", :locals => {:players => @ranked_players, show_edit: true} %>
  </div>
</div>

<h4>Unranked players</h4>

<div class="row">
  <div class="span12">
    <%= render partial: "shared/player_ranking", :locals => {:players => @unranked_players, show_edit: true} %>
  </div>
</div>

<div class="row">
  <div class="span6 offset3">
    <h3>Site updates</h3>
    <dl>
      <% @news.each do |news| %>
          <dt><%= news.created_at.strftime("%B %d") %></dt>
          <dd><%= news.content %></dd>
      <% end %>
    </dl>
  </div>
</div>
